<ion-view view-title="reddit goals">
  <ion-content class="padding">
    <button class="button button-block button-outline button-positive" ng-click="getGoals()">
      Get latest goals
    </button>
    <div class="list card" ng-repeat="goal in goals" ng-if="isGoalVideo(goal)">
      <div class="item">
        <h2>{{goal.data.title}}</h2>
      </div>
      <div class="item item-image video-container">
        <div>
          <!-- <iframe ng-src="{{trustUrl(goal.data.url)}}" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen scrolling="no">
          </iframe> -->
          <button class="button button-block button-outline button-positive"
              ng-click="toggleVideo(goal)">
            Video
          </button>
          <video width="100%" height="100%" controls ng-if="goal.showVideo">
            <source ng-src="{{trustUrl1(goal.data.url)}}" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
